ENV=local
STORAGE_PATH=./image-manager.db
LOG_FILE_PATH=app.log

HTTP_ADDRESS=0.0.0.0:8080
GRPC_PORT=:50051

# OpenStack Config
OS_AUTH_URL=https://your-openstack-api:5000/v3
OS_USERNAME=your_user
OS_PASSWORD=your_password
OS_PROJECT_ID=your_project_id
OS_PROJECT_NAME=your_project_name
OS_DOMAIN_NAME=Default
OS_REGION_NAME=RegionOne
OS_SSH_KEY_NAME=master-key

# Instance Config
OS_FLAVOR_ID=2
OS_NETWORK_ID=your-network-uuid