# Environment: local | prod
ENV=local

# Paths
STORAGE_PATH=./image-manager.db
LOG_FILE_PATH=app.log

# Server Config
HTTP_ADDRESS=0.0.0.0:8080
GRPC_PORT=:50051

# Public Address for Agents (gRPC)
# Для K8s с Ingress используйте домен: grpc.example.com:80
# Для локального запуска: IP_АДРЕСА:50051
GRPC_PUBLIC_ADDRESS=127.0.0.1:50051

# OpenStack Credentials
OS_AUTH_URL=https://your-openstack-api:5000/v3
OS_USERNAME=your_user
OS_PASSWORD=your_password
OS_PROJECT_ID=your_project_id
OS_PROJECT_NAME=your_project_name
OS_DOMAIN_NAME=Default
OS_REGION_NAME=RegionOne
OS_SSH_KEY_NAME=master-key

# Instance Config
OS_FLAVOR_ID=2
OS_NETWORK_ID=your-network-uuid

# Web UI Auth
HTTP_USERNAME=admin
HTTP_PASSWORD=password

# SSH Injection (Optional)
# Публичный ключ, который будет добавлен пользователю root в создаваемых образах
# SSH_INJECT_KEY="ssh-ed25519 AAA..."